<mat-dialog-content>
<form [formGroup]="skills" (ngSubmit)="UpdateSkill(dataofskills.element.skillSetID)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
      <mat-form-field fxFlex="30">
        <mat-label>SKILL GROUP</mat-label>
        <mat-select formControlName="skillGroupID" single>
          <mat-option *ngFor="let select of apiData" [value]="select.skillGroupID">{{select.skillGroup}}</mat-option>
        </mat-select>
      </mat-form-field>
     <mat-form-field fxFlex="30">
        <mat-label>SKILL</mat-label>
        <mat-select formControlName="skillID" single>
          <mat-option *ngFor="let select of apiDataa" [value]="select.skillID">{{select.skill}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="30" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
        <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary" value="UpdateSkill">UPDATE</button>
      </div>
      </div>
      </form>
</mat-dialog-content>
