<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="filteringForm" (ngSubmit)="OnSubmit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
        <mat-form-field fxFlex="20">
          <mat-label>Resource Name:-</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Email Id:-</mat-label>
          <input formControlName="emailID" matInput t>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Task Name:-</mat-label>
          <input type="text" formControlName="taskName" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Skill:-</mat-label>
          <input type="text" formControlName="skill" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Assigned From:-</mat-label>
          <input formControlName="assignedFrom" matInput [matDatepicker]="one">
          <mat-datepicker-toggle matIconSuffix [for]="one"></mat-datepicker-toggle>
          <mat-datepicker #one></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Assigned To:-</mat-label>
          <input formControlName="assignedTo" matInput [matDatepicker]="two">
          <mat-datepicker-toggle matIconSuffix [for]="two"></mat-datepicker-toggle>
          <mat-datepicker #two></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Available From:-</mat-label>
          <input formControlName="availableFrom" matInput [matDatepicker]="three">
          <mat-datepicker-toggle matIconSuffix [for]="three"></mat-datepicker-toggle>
          <mat-datepicker #three></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Available To:-</mat-label>
          <input formControlName="availableTo" matInput [matDatepicker]="four">
          <mat-datepicker-toggle matIconSuffix [for]="four"></mat-datepicker-toggle>
          <mat-datepicker #four></mat-datepicker>
        </mat-form-field>
        <div fxFlex="20" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
          <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary"
            value="OnSubmit">Submit</button>
        </div>
        <div fxFlex="20" fxFlexFill>
          <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary" (click)="OnReset()">
            Reset</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>

  <div class="mat-elevation-z8 list-table">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="empID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
          <td mat-cell *matCellDef="let user"> {{user.empID}} </td>
        </ng-container>
        <ng-container matColumnDef="resourceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Resource Name</th>
          <td mat-cell *matCellDef="let user"> {{user.resourceName}} </td>
        </ng-container>
        <ng-container matColumnDef="emailID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</th>
          <td mat-cell *matCellDef="let user"> {{user.emailID}} </td>
        </ng-container>
        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Name</th>
          <td mat-cell *matCellDef="let user"> {{user.taskName}} </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let user"> {{user.start |date:"LL-MMM-YYYY"}} </td>
        </ng-container>
        <ng-container matColumnDef="finish">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
          <td mat-cell *matCellDef="let user"> {{user.finish |date:"LL-MMM-YYYY"}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>