<div mat-dialog-title>
    <h1>Edit Resource Details</h1>
</div>
<form [formGroup]="updateResource" (ngSubmit)="UpdateResource(dataOfProjects.element)">
    <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
            <mat-form-field fxFlex="50">
                <mat-label>Resource Name</mat-label>
                <mat-select formControlName="res_id">
                    <mat-option *ngFor="let cd of resourceExtensionData" [value]="cd.res_id">
                        {{cd.res_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <mat-label>Allocation Percentage</mat-label>
                <mat-select formControlName="allocation_perc">
                    <mat-option *ngFor="let ap of allocation" [value]="ap">
                        {{ap*100}}%
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <mat-label>Skill Group</mat-label>
                <mat-select formControlName="skillGroupID" single (selectionChange)="onSkillGroupSelection()">
                  <mat-option>--None --</mat-option>
                  <mat-option *ngFor="let select of DataofSkillGroup"
                    [value]="select.skillGroupID">{{select.skillGroup}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <mat-label>Skill</mat-label>
                <mat-select formControlName="skillID" single>
                  <mat-option *ngFor="let select of skillData" [value]="select.skillID">{{select.skill}}</mat-option>
                </mat-select>
              </mat-form-field>
            
            <mat-form-field fxFlex="50">
                <mat-label>Start Date</mat-label>
                <input formControlName="start_date" matInput [matDatepicker]="one">
                <mat-datepicker-toggle matIconSuffix [for]="one"></mat-datepicker-toggle>
                <mat-datepicker #one></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <mat-label>End Date</mat-label>
                <input formControlName="end_date" matInput [matDatepicker]="two">
                <mat-datepicker-toggle matIconSuffix [for]="two"></mat-datepicker-toggle>
                <mat-datepicker #two></mat-datepicker>
            </mat-form-field>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary">Update</button>
            <button mat-raised-button color="primary" mat-dialog-close="false">Cancel</button>
        </div>
    </div>
</form>