<form [formGroup]="loginForm" (ngSubmit)="OnLogin()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
      <mat-form-field fxFlex="20">
          UserName :-
        <input formControlName="UserName" matInput>
      </mat-form-field>
      <mat-form-field fxFlex="20">
        Password :-
        <input type="text" formControlName="Password" matInput>
      </mat-form-field>
      <div fxFlex="20" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
        <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary" value="OnLogin">Login</button>
      </div>
    </div>
  </form>
