<mat-dialog-content>
  <!-- <form [formGroup]="VOForm" autocomplete="off">
    <ng-container formArrayName="VORows"> -->
    <table mat-table [dataSource]="data"> 
        <!-- <ng-container matColumnDef="resourceID">
          <th mat-header-cell *matHeaderCellDef>RESOURCE ID</th>
          <td mat-cell *matCellDef="let user"> {{user.resourceID}} </td>
        </ng-container>  -->
        <ng-container matColumnDef="emailID">
          <th mat-header-cell *matHeaderCellDef>EMAIL ID</th>
          <td mat-cell *matCellDef="let user"> {{user.emailID}} 
          <!-- <mat-form-field style="width: 70px;" appearance="fill">
            <input matInput type="email" formControlName="emailID" [readonly]="true">
          </mat-form-field> -->
          </td>
        </ng-container> 
        <ng-container matColumnDef="skillGroup">
          <th mat-header-cell *matHeaderCellDef>SKILL GROUP</th>
          <td mat-cell *matCellDef="let user"> {{user.skillGroup}} 
            <!-- <mat-form-field style="width: 70px;"[appearance]="VOForm.getRawValue().VORows[i].isEditable? 'fill' : 'outline'">
            <input matInput type="text" formControlName="skillGroup" [readonly]="VOForm.getRawValue().VORows[i].isEditable">
          </mat-form-field> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="skill">
          <th mat-header-cell *matHeaderCellDef>SKILL</th>
          <td mat-cell *matCellDef="let user"> {{user.skill}} 
            <!-- <mat-form-field style="width: 70px;"
            [appearance]="VOForm.getRawValue().VORows[i].isEditable? 'fill' : 'outline'">
            <input matInput type="text" formControlName="skill" [readonly]="VOForm.getRawValue().VORows[i].isEditable">
          </mat-form-field> -->
            </td>
        </ng-container>
        <!-- <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let user;let i=index" [formGroup]="user">
            <button mat-icon-button class=" save-button"
            matTooltip="Save Changes" (click)="SaveVO(VOForm,i)"
            *ngIf="!VOForm.getRawValue().VORows[i].isEditable" color="primary">
            <mat-icon>check_circle</mat-icon>
        </button>
        
        <button mat-icon-button class="cancel-button"
        matTooltip="Cancel Changes" color="warn"
        (click)="CancelSVO(VOForm,i)"
        *ngIf="!VOForm.getRawValue().VORows[i].isEditable">
        <mat-icon>cancel</mat-icon>
    </button>

    <button mat-icon-button class="save-button"
    *ngIf="VOForm.getRawValue().VORows[i].isEditable"
    matTooltip="Edit" color="primary" (click)="EditSVO(VOForm,i)">
    <mat-icon>edit</mat-icon>
    </button>

      <button mat-icon-button class="delete-button"
     *ngIf="VOForm.getRawValue().VORows[i].isEditable"
      matTooltip="Delete" color="warn">
      <mat-icon>delete</mat-icon>
        </button>
        </td>
        </ng-container> -->
             <!-- <button mat-raised-button color="primary" (click)="OnUpdate()">Update</button> </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> DELETE </th>
            <td mat-cell *matCellDef="let element">
               <button mat-raised-button color="primary" (click)="OnDelete()">Delete</button> </td>
            </ng-container> -->
        <!-- <ng-container matColumnDef="skillID">
          <th mat-header-cell *matHeaderCellDef>SKILL ID</th>
          <td mat-cell *matCellDef="let user"> {{user.skillID}} </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
       
      </table>
      <!-- </ng-container>
      </form> -->
</mat-dialog-content>
