header{
    text-align: center;
    color:black;
}
mat-card-content{
    text-align: center;
}
h1{
    text-align: center;
}
.fileUpload{
    text-align: center;
}
  table{
    width:100%;
    display: block;
    height:800px;
    overflow-y:scroll;
  }