<div style="height: 100%;">
  <mat-tab-group style="height: calc(100vh - 64px);">
    <mat-tab label='Skill Groups'>
      <div style="height: 100%; overflow-y: auto;">
        <div style="height: 100%;">
          <table mat-table [dataSource]="skillGroups">
            <ng-container matColumnDef="skillGroupID">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let skillGrp"> {{skillGrp.skillGroupID}} </td>
            </ng-container>
            <ng-container matColumnDef="skillGroup">
              <th mat-header-cell *matHeaderCellDef> Skill Group</th>
              <td mat-cell *matCellDef="let skillGrp"> {{skillGrp.skillGroup}} </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary"
                  (click)="DeleteSkillGroup(element.skillGroupID)">DELETE</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <td mat-footer-cell *matFooterCellDef colspan="3">
                <div style="margin-top: 10px;">
                  <form [formGroup]="addSkillgroup" (ngSubmit)="AddSkillGroup()">
                    <div fxLayout="row" fxLayoutAlign="none center" fxFlexFill fxLayoutGap="10px grid">
                      <mat-form-field fxFlex="80">
                        <mat-label>SkillGroup</mat-label>
                        <input formControlName="skillGroup" matInput>
                      </mat-form-field>
                      <div fxFlex="20" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
                        <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary"
                          value="AddSkillGroup">Add</button>
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsto; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsto;"></tr>
            <tr mat-footer-row *matFooterRowDef="['action']; sticky: true" class="action-footer"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Skills">
      <div style="height: 100%; overflow-y: auto;">
        <div style="height: 100%;">
          <table mat-table [dataSource]="dataOfempSkill" class="SkillsTable" matSort #sort="matSort">
            <ng-container matColumnDef="skillSetID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let skillSet"> {{skillSet.skillSetID}} </td>
            </ng-container>
            <ng-container matColumnDef="skillGroup">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill Group</th>
              <td mat-cell *matCellDef="let skillSet"> {{skillSet.skillGroup}} </td>
            </ng-container>
            <ng-container matColumnDef="skill">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
              <td mat-cell *matCellDef="let skillSet"> {{skillSet.skill}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Action - Edit </th>
              <td mat-cell *matCellDef="let element">
                <mat-dialog-actions>
                  <button mat-raised-button color="primary" (click)="Edit(element)">Edit</button>
                </mat-dialog-actions>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Action - Delete </th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="DeleteSkillset(element.skillSetID)">DELETE</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <td mat-footer-cell *matFooterCellDef colspan="5">
                <div style="margin-top: 10px;">
                  <form [formGroup]="addskill" (ngSubmit)="AddSkill()">
                    <div fxLayout="row" fxLayoutAlign="none center" fxFlexFill fxLayoutGap="10px grid">
                      <mat-form-field fxFlex="45">
                        <mat-label>SKILL GROUP</mat-label>
                        <mat-select formControlName="skillGroupID" single>
                          <mat-option *ngFor="let select of apiData"
                            [value]="select.skillGroupID">{{select.skillGroup}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field fxFlex="45">
                        <mat-label>SKILL</mat-label>
                        <input formControlName="skill" matInput>
                      </mat-form-field>

                      <div fxFlex="10" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
                        <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary"
                          value="AddSkill">Add</button>
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="dsp; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: dsp;"></tr>
            <tr mat-footer-row *matFooterRowDef="['action']; sticky: true" class="action-footer"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Resource Skills">
      <div style="height: 100%; overflow-y: auto;">
        <div style="height: 100%;">
          <table mat-table [dataSource]="dataOfSkills" matSort #sortedData="matSort" matSortDirection="asc">
            <ng-container matColumnDef="empID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </th>
              <td mat-cell *matCellDef="let resSkill"> {{resSkill.empID}} </td>
            </ng-container>
            <ng-container matColumnDef="resourceName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
              <td mat-cell *matCellDef="let resSkill"> {{resSkill.resourceName}} </td>
            </ng-container>
            <ng-container matColumnDef="emailID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
              <td mat-cell *matCellDef="let resSkill"> {{resSkill.emailID}} </td>
            </ng-container>
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <mat-dialog-actions>
                  <button mat-raised-button color="primary" (click)="getResourceSkills(element.emailID)">Get
                    Details</button>
                </mat-dialog-actions>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Resource Plan">
      <div class="container">
        <div class="box">
          <h2>Upload File Here</h2>
          <form [formGroup]="forms" (ngSubmit)="OnFile()">
            <div fxLayout="column wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="30px grid">
              <mat-form-field fxFlex="10">
                <ngx-mat-file-input formControlName="planFile" matInput>
                </ngx-mat-file-input>
                <mat-icon></mat-icon>
              </mat-form-field>
              <div class="button-container">
                <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary"
                  value="OnFile">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="scrollable-table">
        <div class="table-container">
          <table mat-table [dataSource]="dataOfResources" matSort #sorted="matSort" matSortDirection="asc">
            <ng-container matColumnDef="empID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
              <td mat-cell *matCellDef="let user"> {{user.empID}} </td>
            </ng-container>
            <ng-container matColumnDef="resourceName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Resource Name</th>
              <td mat-cell *matCellDef="let user"> {{user.resourceName}} </td>
            </ng-container>
            <ng-container matColumnDef="emailID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</th>
              <td mat-cell *matCellDef="let user"> {{user.emailID}} </td>
            </ng-container>
            <ng-container matColumnDef="taskName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Name</th>
              <td mat-cell *matCellDef="let user"> {{user.taskName}} </td>
            </ng-container>
            <ng-container matColumnDef="start">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
              <td mat-cell *matCellDef="let user"> {{user.start |date:"LL-MMM-YYYY"}} </td>
            </ng-container>
            <ng-container matColumnDef="finish">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
              <td mat-cell *matCellDef="let user"> {{user.finish |date:"LL-MMM-YYYY"}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOfemp; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOfemp;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Resource Skill Plan">
      <div class="container">
        <div class="box">
          <h2>Upload Skills File Here</h2>
          <form [formGroup]="formsOfSkills" (ngSubmit)="OnSkillFile()">
            <div fxLayout="column wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="30px grid">
              <mat-form-field fxFlex="10">
                <ngx-mat-file-input formControlName="planFile" matInput>
                </ngx-mat-file-input>
                <mat-icon></mat-icon>
              </mat-form-field>
              <div class="button-container">
                <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary"
                  value="OnFile">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-container">
        <h2>Mapping Table</h2>
        <table mat-table [dataSource]="dataOfSkillList" matSort #sortedSkillData="matSort" matSortDirection="asc">

          <ng-container matColumnDef="columnLists">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Column Lists</th>
            <td mat-cell *matCellDef="let user" class="column-cell">
              {{ user.columnLists }}
            </td>
          </ng-container>
          <ng-container matColumnDef="selectors">
            <th mat-header-cell *matHeaderCellDef>Selectors</th>
            <td mat-cell *matCellDef="let user" class="column-cell">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select [(value)]="user.selectors">

                  <mat-option value="not imported">Not Imported</mat-option>
                  <mat-option value="skill Group">Skill Group</mat-option>
                  <mat-option value="Email">Email</mat-option>
                </mat-select>
                
              </mat-form-field>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsOfLists; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOfLists;"></tr>
        </table>
      </div>
      <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary" (click)="submitMappingData(dataOfSkillsFile)">Submit</button>
    </mat-tab>

    <mat-tab label="Users">
      <div style="height: 100%; overflow-y: auto;">
        <div style="height: 100%;">
          <table mat-table [dataSource]="user" class="UserTable">
            <ng-container matColumnDef="userID">
              <th mat-header-cell *matHeaderCellDef>USER ID </th>
              <td mat-cell *matCellDef="let user"> {{user.userID}} </td>
            </ng-container>
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> User Name</th>
              <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
            </ng-container>
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef> Full Name </th>
              <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="deleteUser(element.userID)">DELETE</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <td mat-footer-cell *matFooterCellDef colspan="3">
                <div style="margin-top: 10px;">
                  <form [formGroup]="userForm" (ngSubmit)="OnUser()">
                    <div fxLayout="row" fxLayoutAlign="none center" fxFlexFill fxLayoutGap="10px grid">

                      <mat-form-field fxFlex="30">
                        <mat-label>UserName</mat-label>
                        <input type="text" formControlName="userName" matInput>
                      </mat-form-field>

                      <mat-form-field fxFlex="30">
                        <mat-label>FullName</mat-label>
                        <input type="text" formControlName="fullName" matInput>
                      </mat-form-field>
                      <mat-form-field fxFlex="30">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput>

                      </mat-form-field>
                      <div fxFlex="10" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
                        <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary"
                          value="OnUser">Add</button>
                      </div>

                    </div>
                  </form>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnss; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnss;"></tr>
            <tr mat-footer-row *matFooterRowDef="['action']; sticky: true" class="action-footer"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>