<mat-dialog-content>
    <form [formGroup]="skill" (ngSubmit)="UpdateSkills()">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
          <!-- <mat-form-field fxFlex="20">
            <mat-label>UserID:-</mat-label>
            <input formControlName="userID" matInput>
          </mat-form-field> -->
          <mat-form-field fxFlex="30">
            <mat-label>SKILL GROUP:-</mat-label>
            <input formControlName="skillGroup" matInput >
         </mat-form-field>
        
         <mat-form-field fxFlex="30">
    
          <mat-label>SKILL:-</mat-label>
          <input formControlName="skill" matInput >
         </mat-form-field>
          <div fxFlex="30" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
            <button fxFlex fxLayoutAlign="center center" mat-raised-button color="primary" value="UpdateSkill">UPDATE</button>
          </div>
          </div>
        </form>
    </mat-dialog-content>