<div mat-dialog-title>
    <h1>Edit Client Details - {{dataOfClient.element.client_name}}</h1>
</div>
<form [formGroup]="clientDetails" (ngSubmit)="UpdateClient(dataOfClient.element.client_id)">
    <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
            <mat-form-field fxFlex="50">
                <mat-label>Client Name</mat-label>
                <input formControlName="client_name" matInput>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <mat-label>Partner In Charge</mat-label>
                <input formControlName="partner_incharge" matInput>
            </mat-form-field>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary">Update</button>
            <button mat-raised-button color="primary" mat-dialog-close="false">Cancel</button>
        </div>
    </div>
</form>