<div mat-dialog-title>
  <h1>Edit Resource Skill Details</h1>
</div>
<mat-dialog-content>
  <form [formGroup]="skillgroupskill"
    (ngSubmit)="UpdateSkills(dataOfskills.element.resourceSkillID,dataOfskills.element.resourceID)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
      <mat-form-field fxFlex="50">
        <mat-label>SKILL GROUP</mat-label>
        <mat-select formControlName="skillGroupID" single (selectionChange)="getSkillSets()">
          <mat-option *ngFor="let select of apiData" [value]="select.skillGroupID">{{select.skillGroup}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>SKILL</mat-label>
        <mat-select formControlName="skillSetID" single>
          <mat-option *ngFor="let select  of apiDataa" [value]="select.skillSetID">{{select.skill}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button  mat-raised-button color="primary" value="UpdateSkills">UPDATE</button>
    </div>
  </form>
</mat-dialog-content>