<h1 mat-dialog-title>Edit Skill - {{dataofskills.element.skill}}</h1>
<form [formGroup]="skills" (ngSubmit)="UpdateSkill(dataofskills.element.skillSetID)">
  <div mat-dialog-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexFill fxLayoutGap="10px grid">
      <mat-form-field fxFlex="50">
        <mat-label>Skill Group</mat-label>
        <mat-select formControlName="skillGroupID" single>
          <mat-option *ngFor="let select of apiData" [value]="select.skillGroupID">{{select.skillGroup}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Skill</mat-label>
        <input formControlName="skill" matInput>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Skill Description</mat-label>
        <input formControlName="Description" matInput>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end"  >    
      <button mat-raised-button color="primary" value="UpdateSkill">Update</button>
      <button mat-raised-button color="primary" mat-dialog-close="false">Close</button>
    </div>
  </div> 
</form>